@{
    Layout = "";
}
@model Nop.Plugin.Payments.Paylike.Models.PaymentInfoModel
@using Nop.Web.Framework;

<table width="100%" cellspacing="2" cellpadding="1" border="0">

    <tr>
        <td>
            @Html.NopLabelFor(model => model.CardNumber, false):
        </td>
        <td>
            @Html.TextBoxFor(model => model.CardNumber, new { @class = "card-number", style = "Width: 165px;", autocomplete = "off", maxlength = 22, Name = "" })
            @Html.ValidationMessageFor(model => model.CardNumber)
        </td>
    </tr>
    <tr>
        <td>
            @Html.NopLabelFor(model => model.ExpireMonth, false):
        </td>
        <td>
            @Html.DropDownListFor(model => model.ExpireMonth, Model.ExpireMonths, new { @Name = "", @id = "card-expiry-month" })
            /
            @Html.DropDownListFor(model => model.ExpireYear, Model.ExpireYears, new { @Name = "", @id = "card-expiry-year" })
        </td>

    </tr>
    <tr>
        <td>
            @Html.NopLabelFor(model => model.CardCode, false):
        </td>
        <td>
            @Html.TextBoxFor(model => model.CardCode, new { style = "Width: 60px!important;", autocomplete = "off", maxlength = 4, Name = "", @class = "card-code" })
            @Html.ValidationMessageFor(model => model.CardCode)
        </td>
    </tr>
    <tr>
        <td>
            <input style="display:none;" type="hidden" id="cardExpiration" class="card-expiry" placeholder="mm / yy" />
        </td>
        <td></td>
    </tr>
    <tr>
        <td><input style="display:none;" type="hidden" name="paymenttoken" id="paymenttoken" /></td>
        <td></td>
    </tr>
    <tr>
        <td><input style="display:none;" type="hidden" name="nextstep" value="Next" id="nextstep" /></td>
        <td></td>
    </tr>
</table>

<script type="text/javascript">

    $("#card-expiry-month").change(function () {
        setExpiry();
    });
    $("#card-expiry-year").change(function () {
        setExpiry();
    });

    $(document).ready(function () {
        setExpiry();
        $.getScript("https://sdk.paylike.io/3.js", function (data, textStatus, jqxhr) {
            GetScriptCallback();
        });
    });

    function setExpiry() {
        var month = $("#card-expiry-month option:selected").val();
        var year = $("#card-expiry-year option:selected").val();
        $("#cardExpiration").val(month + "/" + year);
    };

    function GetScriptCallback() {
        var paylike = Paylike('@ViewBag.PublicKey', { style: false });
        $(".payment-info-next-step-button").removeAttr("onClick");

        function paylikeResponseHandler(error, response) {

            if (error) {
                $(".payment-errors").text(error.message);
            } else {
                var token = response.card.id;
                $(".payment-errors").text("");
                var form = $(".payment-info-next-step-button").closest('form');
                $("#paymenttoken").val(token);
                if (document.location.href.indexOf('onepagecheckout') > -1) {
                    PaymentInfo.save();
                }
                else {
                    $form.submit();
                }
            }

            $(".payment-info-next-step-button").removeAttr("disabled");
        }

        $(".payment-info-next-step-button").unbind().click(function (event) {
            $('.submit-button').attr("disabled", "disabled");

            paylike.pay($("#co-payment-info-form")[0], {}, paylikeResponseHandler);

            return false;
        });
    };

</script>
<div class="payment-errors"></div>
